{% extends 'base.html' %}

{% block con %}
    <div class="container mt-5 mb-5"  style="font-size: 20px; font-weight: bold; width: 60%;">
        <h1>회원정보 수정</h1>

        <form method="post" name="updateForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 mt-5">
                <label class="form-label">USERNAME</label>
                <input value="{{user.username}}" type="text" disabled class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label class="form-label">AGE</label>
                <input value="{{user.age}}" type="number" class="form-control" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">COMMENT</label>
                <textarea name="comment" class="form-control">{{ user.comment }}</textarea>
            </div>
            <div class="mb-3">
                <input name="pic" value="{{user.pic}}" type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            
            <div class="text-end">
                <button type="button" class="btn btn-success" onclick="history.back()">취소</button>
                <button type="submit" class="btn btn-success">수정</button>
            </div>
        </form>
    </div>
    
{% endblock %}


<script>
    function inputcheck(){
        pForm = document.updateForm;
        
        if(!pForm.password.value){

        }

        if(pForm.pic.value){

        }
    }
</script>